html, body{
  background-color: #2E4057;
  color: #ffffff;
}

.container{
  margin-top: 5%;
}

label{
  font-weight: normal;
}

.btn-info{
  flex-direction: row;
  background-color: #FFC857;
  border-color: #FFC857;
}

.btn-info:hover{
  background-color: #FFC857;
  border-color: #FFC857;
}

.help-inline{
  color: #FF0000;
}
