html, body {
  height: 100%;
  background-image: url('../images/instagram_gradient.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.container{
  padding-top: 10%;
}

label{
  font-weight: normal;
}

.help-inline{
  color: #FF0000;
}

.tag_buttons{
  margin: .5% 0 .5% 0
}

.selected-hashtag-container{
  margin: 1% 0 1% 0;
}

footer{
  position: fixed;
  bottom: 0;
  padding: 1%;
}

::placeholder{
  color: white;
}

input{
  font-weight: 200;
  color: white;
  font-size: 2em;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background: 0 0;
  display: block-inline;
  /* height: 2em; */
  width: 100%;
  float: right;
  padding: 0 2%;
  position: relative;
  z-index: 0;
  -moz-transition: color .2s ease-in-out,opacity .2s ease-in-out;
  -o-transition: color .2s ease-in-out,opacity .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out,opacity .2s ease-in-out;
  transition: color .2s ease-in-out,opacity .2s ease-in-out;
}
