<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">#yourPhoto</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            {% from "includes/_formHelpers.html" import render_field %}
            <form class="form-container" method="POST" action="">
                <h2>Describe your picture</h2>
                <div class="form-group">
                    {{render_field(form.content, class_="form-control")}}
                </div>
                <!-- testing..... -->
                <!-- <input type="text" class="tvshow" placeholder="Describe what's happening in your photo" title="Name of a TV show" /> -->
                <!-- end of test...... -->
                <button type="submit" class="btn btn-info"> generate #</button>
            </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
                    <form class="form-inline" action="">
                        {% if output %}
                        <h2>Top #'s to use</h2>
                        <div class="hashtags-output-container">
                            {% for tag in output %}
                            {% set button_id = tag[1:] + "-btn" %}
                            <button type="button" onclick="showHashtagInfo('{{tag[1:]}}', '{{button_id}}')"
                                    id={{button_id}} class="btn btn-info tag_buttons">{{tag}}
                            </button>
                            <div class="selected-hashtag-container" id={{tag[1:]}} style="display: none"></div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
        </div>
    </div>
    <footer>
        <span> INFO 4300: Language and Information |
        {% if netids %}
        {% for id in netids %}
        <span>{{id}}</span>
        {% endfor %}
        {% endif %}
    </footer>
</div>
<script type="text/javascript" src="/static/js/actions.js"></script>
</body>
</html>
