<html>
<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="container">
  <h1>#yourPictures</h1>
  <div class="row">
    <div class=col-md-6>
      {% from "includes/_formHelpers.html" import render_field %}
      <form class="form-container" method="POST" action="">
        <h2>Describe your picture</h2>
        <div class="form-group">
          {{render_field(form.content, class_="form-control")}}
        </div>
        <!-- <div class="form-group">
          {{render_field(form.location, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.people, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.date, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.time, class_="form-control")}}
        </div> -->
        <button type="submit" class="btn btn-info"> generate # </button>
      </form>
    </div>
    <div class=col-md-6>
      <form class="form-inline global-search">
        {% if output %}
        <h2>Top #'s to use</h2>
        <p>
          {% for tag in output %}
            <span>{{tag}}</span>
          {% endfor %}
        <p>
        {% endif %}
      </form>
    </div>
  </div>
  <footer>
    {% if netids %}
      {% for id in netids %}
        <span>{{id}}</span>
      {% endfor %}
    {% endif %}
  </footer>
</div>
</body>
</html>
